/* All helper classes (shared styles) (combine those to build UI) */
/* Animation helpers */
.pulseAnimation {
	display: inline-block;
	animation: pulse 2s infinite linear;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.spinAnimation {
	display: inline-block;
	animation: spin 800ms infinite linear;
	position: relative;
	left: -5px;
	top: 1px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*
Media query manager mixin
0-600px:    Phone
600-900px:  Tablet-portrait mode
900-1200px:  Tablet-landscape mode
1200-1800px:  Desktop - this is where all current styles apply
1800px:  xlDesktop
1em === 16px
*/
