/* All helper classes (shared styles) (combine those to build UI) */
/* Animation helpers */
.pulseAnimation {
	display: inline-block;
	animation: pulse 2s infinite linear;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.spinAnimation {
	display: inline-block;
	animation: spin 800ms infinite linear;
	position: relative;
	left: -5px;
	top: 1px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*
Media query manager mixin
0-600px:    Phone
600-900px:  Tablet-portrait mode
900-1200px:  Tablet-landscape mode
1200-1800px:  Desktop - this is where all current styles apply
1800px:  xlDesktop
1em === 16px
*/
/* Margins helpers */
/* Colors related variables */
/* Numbers related variables */
.marginT--xxs {
	margin-top: 0.5rem;
}

.marginT--xs {
	margin-top: 1rem;
}

.marginT--sm {
	margin-top: 1.5rem;
}

.marginT--md {
	margin-top: 2.5rem;
}

.marginT--lg {
	margin-top: 3.5rem;
}

.marginT--xxl {
	margin-top: 4.5rem;
}

.marginB--xxs {
	margin-bottom: 0.5rem;
}

.marginB--xs {
	margin-bottom: 1rem;
}

.marginB--sm {
	margin-bottom: 1.5rem;
}

.marginB--md {
	margin-bottom: 2.5rem;
}

.marginB--lg {
	margin-bottom: 3.5rem;
}

.marginB--xxl {
	margin-bottom: 4.5rem;
}

.marginL--xxs {
	margin-left: 0.5rem;
}

.marginL--xs {
	margin-left: 1rem;
}

.marginL--sm {
	margin-left: 1.5rem;
}

.marginL--md {
	margin-left: 2.5rem;
}

.marginL--lg {
	margin-left: 3.5rem;
}

.marginL--xxl {
	margin-left: 4.5rem;
}

.marginR--xxs {
	margin-right: 0.5rem;
}

.marginR--xs {
	margin-right: 1rem;
}

.marginR--sm {
	margin-right: 1.5rem;
}

.marginR--md {
	margin-right: 2.5rem;
}

.marginR--lg {
	margin-right: 3.5rem;
}

.marginR--xxl {
	margin-right: 4.5rem;
}

.marginALL--xxs {
	margin: 0.5rem;
}

.marginALL--xs {
	margin: 1rem;
}

.marginALL--sm {
	margin: 1.5rem;
}

.marginALL--md {
	margin: 2.5rem;
}

.marginALL--lg {
	margin: 3.5rem;
}

.marginALL--xxl {
	margin: 4.5rem;
}

.noMargin {
	margin: 0;
}

/* Paddings helpers */
/* Colors related variables */
/* Numbers related variables */
.paddingT--xxs {
	padding-top: 0.5rem;
}

.paddingT--xs {
	padding-top: 1rem;
}

.paddingT--sm {
	padding-top: 1.5rem;
}

.paddingT--md {
	padding-top: 2.5rem;
}

.paddingT--lg {
	padding-top: 3.5rem;
}

.paddingT--xxl {
	padding-top: 4.5rem;
}

.paddingB--xxs {
	padding-bottom: 0.5rem;
}

.paddingB--xs {
	padding-bottom: 1rem;
}

.paddingB--sm {
	padding-bottom: 1.5rem;
}

.paddingB--md {
	padding-bottom: 2.5rem;
}

.paddingB--lg {
	padding-bottom: 3.5rem;
}

.paddingB--xxl {
	padding-bottom: 4.5rem;
}

.paddingL--xxs {
	padding-left: 0.5rem;
}

.paddingL--xs {
	padding-left: 1rem;
}

.paddingL--sm {
	padding-left: 1.5rem;
}

.paddingL--md {
	padding-left: 2.5rem;
}

.paddingL--lg {
	padding-left: 3.5rem;
}

.paddingL--xxl {
	padding-left: 4.5rem;
}

.paddingR--xxs {
	padding-right: 0.5rem;
}

.paddingR--xs {
	padding-right: 1rem;
}

.paddingR--sm {
	padding-right: 1.5rem;
}

.paddingR--md {
	padding-right: 2.5rem;
}

.paddingR--lg {
	padding-right: 3.5rem;
}

.paddingR--xxl {
	padding-right: 4.5rem;
}

.paddingALL--xxs {
	padding: 0.5rem;
}

.paddingALL--xs {
	padding: 1rem;
}

.paddingALL--sm {
	padding: 1.5rem;
}

.paddingALL--md {
	padding: 2.5rem;
}

.paddingALL--lg {
	padding: 3.5rem;
}

.paddingALL--xxl {
	padding: 4.5rem;
}

.noMargin {
	padding: 0;
}
