@import '../../styles/shared-styles/variables';
@import '../../styles/shared-styles/mixins';

.Profile {
	background: #ffc;
	display: flex;
	flex-direction: column;
	min-height: 60rem;
	margin-top: 2rem;
	position: relative;
	justify-content: flex-start;
	align-items: center;
	padding: $xl;

	& img {
		display: block;
		height: 25rem;
		height: 25rem;
		border-radius: 100%;
	}

	&__email {
		font-style: italic;
	}

	&__heading {
		color: $text-dark;
	}

	&__bio {
		width: 70%;
	}

	@include respond(phone) {
		padding: $md;
		text-align: justify;

		&__bio {
			margin-top: 1rem;
			width: 100%;
		}

		& a:last-of-type {
			display: none;
		}

		& a[href='/auth/me'] {
			display: block;
		}
	}
}

.Icon {
	display: none;
	@include respond(phone) {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
