@import '../../styles/shared-styles/variables';

.Button {
	background: $accent-red;
	padding: $xxs $md;
	color: $primary-light;
	font-size: 80%;

	&__alt {
		background: $accent-light;
		margin-right: 1rem;
	}

	&:disabled {
		background: $gray;
		color: $text-dark;
	}
}

.SubmitButton {
	background: $accent-light;
	padding: $xxs $md;
	color: $primary-light;
	font-size: 80%;
}
