@import '../../styles/shared-styles/variables';

.Button {
	padding: $xxs $md;
	color: $primary-light;
	font-size: 80%;

	&__sm {
		background: $accent-light;
		margin-right: 1rem;
	}

	&__red {
		background: $accent-red;
	}

	&__lg {
		background: $accent-light;
		padding: $sm $xxl;
		margin-right: 1rem;
		border-bottom: 1px solid $secondary-dark;

		&:last-of-type {
			border-bottom: none;
		}
	}

	&:disabled {
		background: $gray;
		color: $text-dark;
	}
}

.SubmitButton {
	background: $accent-light;
	padding: $xxs $md;
	color: $primary-light;
	font-size: 80%;
	cursor: pointer;

	&:disabled {
		background: $gray;
		cursor: not-allowed;
	}

	&__red {
		background: $accent-red;
	}

	&__big {
		padding: $sm $lg;
	}
}

.ProfileButton {
	border-radius: 100%;
	overflow: hidden;
	max-height: $xxl;
	max-width: $xxl;
	outline: none;
	position: relative;

	&:focus {
		outline: 1px dotted $accent-light;
		outline-offset: 0.4rem;
	}

	& img {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 3rem;
		top: 6rem;
	}
}
