@import '../../styles/shared-styles/variables';

.Story {
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding-bottom: $xxl;

	&__body {
		padding: $md;
		width: $container-small-width;
		justify-self: center;
		text-align: justify;
		font-weight: 300;

		&::first-line {
			font-weight: 600;
		}
	}

	& img {
		justify-self: center;
		display: block;
		object-fit: cover;
		padding: 0 $xxl;
		width: $container-small-width;
	}
	&__comments {
		padding-bottom: $md;
		width: $container-default-width;
		margin: 0 auto;
	}
}
