@import '../../styles//shared-styles/variables';

.StoryBlock {
	text-align: center;
	border: 1px solid black;
	position: relative;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(255, 222, 222, 0.5);

	&__link {
		color: $primary-light;
		font-family: $primary-font-family;
		font-weight: 400;
		font-style: italic;
		margin-right: 3rem;
	}

	&__info {
		width: 100%;
		color: $primary-light;
		position: absolute;
		bottom: 0;
		font-weight: 400;
		font-family: $heading-font-family;
		letter-spacing: 0.2rem;
		padding: $sm;
		display: flex;
		align-items: center;
		justify-content: space-between;

		& p {
			font-family: $primary-font-family;
			font-weight: 400;
			font-style: italic;
			font-size: 80%;
		}
	}

	& img {
		// overflow: hidden;
		object-fit: cover;
		display: block;
		width: 100%;
		height: 100%;
	}
}
