@import '../../styles/shared-styles/variables';

.Button {
	background: $accent-red;
	padding: $xxs $md;
	color: $primary-light;
	font-size: 80%;

	&:disabled {
		background: $gray;
		color: $text-dark;
	}
}
