@import '../../styles//shared-styles/mixins';
@import '../../styles//shared-styles/variables';

.Heading {
	height: 35rem;
	font-size: 3rem;
	text-align: center;
	padding: 4rem;

	&__story {
		height: 25rem;
	}

	&__social {
		font-size: $sm;

		& span:first-of-type {
			margin-right: $sm;
		}
	}

	& h1,
	h2 {
		font-style: italic;
		font-family: $heading-font-family;
		letter-spacing: 0.5rem;
		color: $text-dark;
		font-weight: 400;
		text-transform: capitalize;
	}
}
