@import '../../styles/shared-styles/variables';
@import '../../styles/shared-styles/mixins';

.Logo {
	display: block;
	background: linear-gradient(240deg, $accent-red, $accent-light);
	padding: $xs $md;
	color: $primary-light;
	border: 1px solid $accent-light;
	border-radius: 3px;

	&__text {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 0;
		line-height: 150%;
		border-bottom: 2px solid $accent-light;
	}

	@include respond(phone) {
		display: none;
	}
}
