@import '../../styles/shared-styles/variables';

.Nav {
	position: sticky;
	top: 0;
	z-index: 99;
	height: 6rem;
	display: flex;
	border-bottom: 1px solid $gray;
	align-items: center;
	justify-content: space-between; // Align left?
	padding: 0 $xxl;
	background: $bg;

	&__links {
		display: flex;
		padding: 0 $lg;

		& a {
			margin: 0 $xs;
		}
	}
}
