.Auth {
	color: hsl(240, 5%, 20%);
	// height: 100vh;
	transition: background-color 300ms ease;
	background-image: radial-gradient(ellipse at center, hsla(0, 100%, 100%, 0.5) 0%, hsla(0, 100%, 100%, 0) 100%);
	padding-top: 8rem;
}
