@import '../../styles/shared-styles/variables';
@import '../../styles/shared-styles/mixins';

.Form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: inherit;

	& > * {
		font-family: inherit;
	}

	&__group {
		min-width: 40rem;
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
	}

	&__error {
		font-size: 1rem;
		color: $accent-red;
		text-align: center;
	}

	& input {
		font-family: inherit;
		padding: $xs $sm;
		border: none;
		margin-bottom: 0.5rem;
		color: $primary-dark;
	}

	&__action {
		display: flex;
		justify-content: space-between;
	}

	@include respond(tab-port) {
		&__group {
			min-width: 100%;
			justify-content: center;
			align-items: center;
			& input {
				width: 50%;
			}
		}
	}

	@include respond(phone) {
		&__group {
			& input {
				width: 100%;
			}
		}
	}
}
